<!DOCTYPE html>
<html>
<head>
	<title>SOVA</title>
	<meta charset="utf-8" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="Css/bootstrap.min.css">
	<link rel="stylesheet" href="Css/styles.css" /> 
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
</head>
<body>
	<app></app>
	 

@*<script src="~/App/search.js"></script>*@
<!--<script src="App/script.js"></script>-->

	
	<script src="Scripts/require.js"></script>
	<script src="Scripts/require.config.js"></script>  
	<script src="Scripts/app.js"></script> 

</body>
</html>
