li { list-style-type:none; }

.navbar-default { 
	background-color:var(--rose-quartz);
}
.navbar-default .navbar-brand {
	color:var(--serenity);
}
header.navbar { margin-bottom:0; }

.suggestions-list { position:absolute; top:5rem; background-color:var(--serenity); border:1px solid azure; }
.suggestion { padding:.5rem 1rem; }
.suggestion-link { color:var(--white); }

@media all and (max-width:768px)
{
	.navbar-form {
		min-height:5rem;
		display:block;
		position:relative;
	}  

}
