.navbar-default { 
	background-color:var(--rose-quartz);
}
.navbar-default .navbar-brand {
	color:var(--serenity);
}
header { position:relative; display: block; }
.main-container { top:50px; position:relative; display:block; }