
:root {
	--main-font:Arial, sans-serif;
	--red:#f00;
	--white:#fff;
	--black:#000;
	--rose-quartz:#F2DDDE; 
	--serenity:#89ABE3; 
	--light-serenity:#BCD0F1;
	--snorkel-blue:#034f84;
	--peach-echo:#f7786b;
	--limpet-shell:#98ddde;
}
 