
:root {
	--main-font:Arial, sans-serif;
	--red:#f00;
	--white:#fff;
	--black:#000;
	--rose-quartz:#F2DDDE;
	--dark-rose:#9D484C;
	--serenity:#89ABE3;
	--dark-serenity:#2D5394;
	--light-serenity:#BCD0F1;

}
 